:root {
  --Primary-Accent-Dark: #178282;
  --Primary-Accent-Base: #26d9d9;
  --Primary-Accent-Medium: #93ecec;
  --Primary-Accent-Light: #d4f7f7;
  --Primary-Dark: #004080;
  --Primary-Base: #007fff;
  --Primary-Medium: #80bfff;
  --Primary-Light: #cce5ff;
  --Accent-Dark: #cc6600;
  --Accent-Base: #ff8000;
  --Accent-Medium: #ffbf80;
  --Accent-Light: #ffe6cc;
  --Secondary-Dark: #8a8a8a;
  --Secondary-Base: #b0b0b0;
  --Secondary-Medium: #d6d6d6;
  --Secondary-Light: #f0f0f0;
  --Secondary-Accent-Dark: #704359;
  --Secondary-Accent-Base: #9f6080;
  --Secondary-Accent-Medium: #c69fb3;
  --Secondary-Accent-Light: #ecdfe6;
  --Text-Base: #333333;
}
html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}
h1 {
    color: #fff;
    margin: 0;
}
.output {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    border: 1px inset #fff;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 0;
    flex-grow: 1;
}
#code-output {
    width: 70%;
    overflow-y: auto;
}
.error {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
    font-weight: bold;
}
#loading {
    font-style: italic;
    color: #666;
}
#load-files-directory, #load-code, #clear-cache, .tab-button {
    margin: 0;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#load-files-directory:hover, #load-code:hover, #clear-cache:hover, .tab-button:hover {
    background-color: #003d80;
}
#load-files-directory:disabled, #load-code:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}
#filter-checkbox-label, #full-paths-label, #file-type-label {
    font-size: 16px;
    display: inline-block;
    padding: 5px;
}
.tab-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px groove #ddd;
    margin-bottom: 10px;
}
.tab-group {
    display: flex;
    padding-left: 10px;
}
.tab-ctrl-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px outset #fff;
    border-bottom: none;
    margin-right: 10px;
    border-radius: 10px 10px 0 0;
}
.tab-ctrl-btn.active {
    background-color: var(--Primary-Base);
    color: white;
    font-weight: bold;
}
.tab-ctrl-btn:hover {
    background-color: #d0d0d0;
}
.tab-ctrl-btn.active:hover {
    background-color: #0056b3;
}
#rate-limit-info {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    white-space: nowrap;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100%;
  overflow: auto;
}
#result {
    white-space: pre-line;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 10px 0;
    min-height: 18px;
}
.tab-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
    height: 100vh;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Primary-Dark);
    padding: 10px;
    border-radius: 5px;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.title-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.code-info, .file-list-info, .directory-structure-info, .cache-info, .settings-info {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin: 0;
    line-height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#popup-message {
    font-size: 16px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}
#profile, #file-type {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#profile:hover, #file-type:hover {
    background-color: #f0f0f0;
}
.profile-select, .custom-root {
    padding: 10px 0;
    font-size: 16px;
}
.profile-select label{
    color:var(--Primary-Light);
    font-weight: bold;
}
#custom-root {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
}
#github-link {
    margin-left: auto;
    font-size: 16px;
    color: #a4d0ff;
    text-decoration: none;
}
#github-link:hover {
    text-decoration: underline;
    color: #003d80;
}
#custom-root:hover {
    background-color: #f0f0f0;
}
.content {
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    border-left: 2px outset lightgray;
    border-right: 2px outset lightgray;
    border-bottom: 3px outset lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.code-panel-container {
    display: flex;
    overflow-x: auto;
    flex-grow: 1;
    gap: 10px;
}
#file-list {
    width: 30%;
    padding: 10px;
    border: 1px inset #fff;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}
.controls {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .code-panel-container {
        flex-direction: column;
        height: auto;
    }
    #file-list, #code-output {
        width: 100%;
    }
}